<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Bibelsøk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- FAVICON -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="any">

    <!-- PWA -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Bibelsøk">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_Air_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17e__iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_11__iPhone_XR_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/13__iPad_Pro_M4_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/12.9__iPad_Pro_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/11__iPad_Pro_M4_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/10.9__iPad_Air_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/10.5__iPad_Air_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/10.2__iPad_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="{{ url_for('static', filename='images/splash_screens/8.3__iPad_Mini_landscape.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17_Pro_Max__iPhone_16_Pro_Max_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17_Pro__iPhone_17__iPhone_16_Pro_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 420px) and (device-height: 912px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_Air_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_16__iPhone_15_Pro__iPhone_15__iPhone_14_Pro_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_17e__iPhone_16e__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_11__iPhone_XR_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1032px) and (device-height: 1376px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/13__iPad_Pro_M4_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/12.9__iPad_Pro_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1210px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/11__iPad_Pro_M4_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/10.9__iPad_Air_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/10.5__iPad_Air_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/10.2__iPad_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png') }}">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="{{ url_for('static', filename='images/splash_screens/8.3__iPad_Mini_portrait.png') }}">

</head>
<body>

<div class="header">
    <div class="header-inner">
        <h1 onclick="goHome()"><span class="logo-icon" aria-hidden="true"></span>Bibelsøk</h1>
        <div class="header-right">
            <button class="header-btn" id="helpToggle" data-i18n-title="header.help">?</button>
            <button class="header-btn" id="settingsToggle" data-i18n-title="header.settings">&#9881;</button>
        </div>
    </div>
</div>

<div class="controls">
    <div class="search-group">
        <div class="search-wrap">
            <div class="search-highlight-overlay" id="searchHighlightOverlay" aria-hidden="true"><span id="searchHighlightContent"></span></div>
            <input type="text" id="searchInput"
                   data-i18n-placeholder="search.placeholder"
                   autocomplete="off" autocorrect="off" spellcheck="false">
            <button class="search-clear-btn" id="searchClearBtn" data-i18n-title="search.clear">&times;</button>
        </div>
        <!-- Custom picker shown on desktop; native select shown on mobile -->
        <div class="version-picker" id="versionPicker">
            <button class="vp-trigger" id="versionPickerBtn" type="button" onclick="toggleVersionPicker()">
                <div class="vp-trigger-text">
                    <span class="vp-name" id="versionPickerName"></span>
                </div>
                <svg class="vp-chevron" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M1 1l4 4 4-4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
            <div class="vp-list" id="versionPickerList"></div>
        </div>
        <select id="versionSelect"></select>
        <button class="btn btn-primary" id="searchBtn" data-i18n="search.button">Search</button>
        <div class="autocomplete-dropdown" id="autocompleteDropdown"></div>
    </div>
    <div id="searchWarning" class="search-warning" style="display:none"></div>
</div>

<div class="display-area">
<div class="display-bar">
    <button class="display-bar-btn" id="displayOptionsBtn" onclick="toggleDisplayOptions()"><span class="display-arrow">&#9658;</span> <span data-i18n="display.toggleLabel">browse &amp; display</span></button>
</div>

<div class="display-panel" id="displayPanel">
    <div class="browser-bar">
        <label data-i18n="display.browse">Browse:</label>
        <select id="bookSelect"><option value="" data-i18n="display.bookPlaceholder">-- Book --</option></select>
        <select id="chapterSelect" disabled><option value="" data-i18n="display.chapterPlaceholder">-- Ch --</option></select>
    </div>
    <div class="toggles">
        <label class="toggle-group">
            <span data-i18n="toggle.verseNums">Verse numbers</span>
            <div class="toggle">
                <input type="checkbox" id="toggleVerseNums" checked>
                <span class="toggle-slider"></span>
            </div>
        </label>
        <div class="toggle-with-hint">
            <label class="toggle-group">
                <span data-i18n="toggle.newlines">New line per verse</span>
                <div class="toggle">
                    <input type="checkbox" id="toggleNewlines">
                    <span class="toggle-slider"></span>
                </div>
            </label>
            <button class="copy-hint-btn" id="copyHintBtn" data-i18n-aria="toggle.copyHintAria" data-i18n-tooltip="toggle.copyHint">i</button>
        </div>
        <label class="toggle-group format-sep">
            <span data-i18n="toggle.headings">Headings</span>
            <div class="toggle">
                <input type="checkbox" id="toggleHeadings" checked>
                <span class="toggle-slider"></span>
            </div>
        </label>
        <label class="toggle-group format-sep">
            <span data-i18n="toggle.annotations">Annotations †§</span>
            <div class="toggle">
                <input type="checkbox" id="toggleAnnotations" checked>
                <span class="toggle-slider"></span>
            </div>
        </label>
    </div>
</div>
</div>

<div class="results-wrapper" id="resultsWrapper">
    <div class="empty-state" id="emptyState">
        <h2 data-i18n="empty.title">Search the Bible</h2>
        <p class="empty-tagline" data-i18n="empty.tagline">References, full-text search, cross-references and stats — across many translations.</p>
        <blockquote class="empty-verse" onclick="goToEmptyVerse()" style="cursor:pointer;">
            <p class="empty-verse-text" data-i18n="empty.verse.text"></p>
            <footer class="empty-verse-ref" data-i18n="empty.verse.ref"></footer>
        </blockquote>
        <div class="empty-actions">
            <button class="btn btn-secondary" onclick="openHelp('help')" data-i18n="empty.btn.help">? Search syntax</button>
            <button class="btn btn-secondary" onclick="openHelp('info')" data-i18n="empty.btn.about">&#8505; About</button>
            <button class="btn btn-secondary" onclick="openSettings()" data-i18n="empty.btn.settings">&#9881; Settings</button>
        </div>
    </div>
</div>

<!-- Help & Info modal -->
<div class="modal-overlay" id="helpModal">
    <div class="modal-panel">
        <div class="modal-header">
            <span data-i18n="modal.helpInfo">// Help &amp; info</span>
            <div class="modal-tabs">
                <button class="modal-tab active" data-tab="help" data-i18n="modal.tab.help">Help</button>
                <button class="modal-tab" data-tab="info" data-i18n="modal.tab.info">Info</button>
            </div>
            <button class="modal-close" id="helpClose">&times;</button>
        </div>
        <div class="modal-body" data-tab-content="help">
            <div class="help-section">
                <h3 data-i18n="help.section.features">Features</h3>
                <div class="feature-list">
                    <div class="feature-item"><span data-i18n="help.feature.perVerse">Per verse: compare translations, copy text (with or without reference), link to original text / interlinear (biblehub.com)</span></div>
                    <div class="feature-item"><span data-i18n="help.feature.commentary">Per verse: link to Bible commentary (bibleref.com) — note: not all OT verses have commentary yet</span></div>
                    <div class="feature-item"><span data-i18n="help.feature.stats">Search: stats panel with data overview and distribution of hits across the Bible</span></div>
                    <div class="feature-item"><span data-i18n="help.feature.shareUrl">Share the URL to share your current view (passage, search, version)</span></div>
                    <div class="feature-item"><span data-i18n="help.feature.pwa">Install as app: add to home screen (iOS: Share → Add to Home Screen, Android: browser menu → Install) for a full-screen app experience</span></div>
                </div>
            </div>
            <h2 class="help-group-heading" data-i18n="help.section.searchSyntax">Search &amp; Syntax</h2>
            <div class="help-group">
            <div class="help-section">
                <h3 data-i18n="help.section.refLookup">Reference lookup</h3>
                <div class="help-row"><span class="help-key">Joh 3:16</span><span class="help-desc" data-i18n="help.row.singleVerse">Single verse</span></div>
                <div class="help-row"><span class="help-key">Salme 23</span><span class="help-desc" data-i18n="help.row.wholeChapter">Whole chapter</span></div>
                <div class="help-row"><span class="help-key">1. Mos 1:1-3</span><span class="help-desc" data-i18n="help.row.verseRange">Verse range</span></div>
                <div class="help-row"><span class="help-key">Joh 3:1-4:6</span><span class="help-desc" data-i18n="help.row.crossChapter">Cross-chapter range</span></div>
                <div class="help-row"><span class="help-key">Joh 3:16;17</span><span class="help-desc" data-i18n="help.row.multiPassages">Multiple passages (context carries)</span></div>
                <div class="help-row"><span class="help-key">joh, john, jhn</span><span class="help-desc" data-i18n="help.row.abbrevs">Abbreviations &amp; English names work</span></div>
            </div>
            <div class="help-section">
                <h3 data-i18n="help.section.textSearch">Text search operators (can be combined)</h3>
                <div class="help-row"><span class="help-key">tro</span><span class="help-desc" data-i18n="help.row.allWords">All verses containing word (also within words, like "trofast")</span></div>
                <div class="help-row"><span class="help-key">"tro"</span><span class="help-desc" data-i18n="help.row.exactWord">All verses containing exact word</span></div>
                <div class="help-row"><span class="help-key">"evig liv"</span><span class="help-desc" data-i18n="help.row.exactPhrase">Exact phrase</span></div>
                <div class="help-row"><span class="help-key">nåde -dom</span><span class="help-desc" data-i18n="help.row.exclude">Exclude word with -</span></div>
                <div class="help-row"><span class="help-key">nåde OR frelse</span><span class="help-desc" data-i18n="help.row.either">Either word (OR must be uppercase)</span></div>
                <div class="help-row"><span class="help-key">nåde frelse</span><span class="help-desc" data-i18n="help.row.bothWords">Both words (AND, implicit)</span></div>
            </div>
            <div class="help-section">
                <h3 data-i18n="help.section.applyFilters">Apply filters</h3>
                <div class="help-row"><span class="help-key">GT: ord</span><span class="help-desc" data-i18n="help.row.gt">Old Testament</span></div>
                <div class="help-row"><span class="help-key">NT: ord</span><span class="help-desc" data-i18n="help.row.nt">New Testament</span></div>
                <div class="help-row"><span class="help-key">mosebøkene: ord</span><span class="help-desc" data-i18n="help.row.pentateuch">Pentateuch</span></div>
                <div class="help-row"><span class="help-key">historiske: ord</span><span class="help-desc" data-i18n="help.row.historical">Historical books</span></div>
                <div class="help-row"><span class="help-key">poetiske: ord</span><span class="help-desc" data-i18n="help.row.poetic">Poetic / wisdom</span></div>
                <div class="help-row"><span class="help-key">profetene: ord</span><span class="help-desc" data-i18n="help.row.prophets">Prophets</span></div>
                <div class="help-row"><span class="help-key">store profeter: ord</span><span class="help-desc" data-i18n="help.row.majorProphets">Major prophets</span></div>
                <div class="help-row"><span class="help-key">små profeter: ord</span><span class="help-desc" data-i18n="help.row.minorProphets">Minor prophets</span></div>
                <div class="help-row"><span class="help-key">evangeliene: ord</span><span class="help-desc" data-i18n="help.row.gospels">Gospels</span></div>
                <div class="help-row"><span class="help-key">synoptiske: ord</span><span class="help-desc" data-i18n="help.row.synoptic">Synoptic gospels</span></div>
                <div class="help-row"><span class="help-key">brev: ord</span><span class="help-desc" data-i18n="help.row.epistles">Epistles</span></div>
                <div class="help-row"><span class="help-key">paulusbrevene: ord</span><span class="help-desc" data-i18n="help.row.pauline">Pauline epistles</span></div>
                <div class="help-row"><span class="help-key">almenne brev: ord</span><span class="help-desc" data-i18n="help.row.general">General epistles</span></div>
                <div class="help-row"><span class="help-key">johanneisk: ord</span><span class="help-desc" data-i18n="help.row.johannine">Johannine literature</span></div>
                <div class="help-row"><span class="help-key">apokalyptiske: ord</span><span class="help-desc" data-i18n="help.row.apocalyptic">Apocalyptic</span></div>
                <div class="help-row"><span class="help-key">konger og krøniker: ord</span><span class="help-desc" data-i18n="help.row.kingsChron">Kings and Chronicles</span></div>
                <div class="help-row"><span class="help-key">samuelsbøkene: ord</span><span class="help-desc" data-i18n="help.row.multiVolume">Multi-volume groups</span></div>
                <div class="help-row"><span class="help-key">Johannes: ord</span><span class="help-desc" data-i18n="help.row.bookScope">BookName: text</span></div>
            </div>
            </div><!-- /.help-group -->
            <div class="help-section">
                <h3 data-i18n="help.section.shortcuts">Keyboard shortcuts</h3>
                <div class="hotkey-row"><span class="hotkey-badge">/</span><span class="help-desc" data-i18n="help.row.focusSearch">Focus search</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Esc</span><span class="help-desc" data-i18n="help.row.blurSearch">Blur search / close modal</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">?</span><span class="help-desc" data-i18n="help.row.openHelp">Open/close help</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">← →</span><span class="help-desc" data-i18n="help.row.prevNextChVs">Prev / next chapter (or verse when viewing a verse)</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">swipe ← →</span><span class="help-desc" data-i18n="help.row.swipeMobile">Swipe right/left to navigate chapters or verses (mobile)</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">[ ]</span><span class="help-desc" data-i18n="help.row.prevNextVer">Previous / next Bible version</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Tab</span><span class="help-desc" data-i18n="help.row.tabAccept">Accept first autocomplete suggestion</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">Tab Tab</span><span class="help-desc" data-i18n="help.row.tabBookSearch">Search within completed book name</span></div>
                <div class="hotkey-row"><span class="hotkey-badge">↑ ↓</span><span class="help-desc" data-i18n="help.row.acNav">Navigate autocomplete suggestions</span></div>
            </div>
        </div>
        <div class="modal-body" data-tab-content="info" hidden>
            <div class="help-section">
                <h3 data-i18n="info.about.title">About</h3>
                <p class="info-text" data-i18n="info.about.text"></p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.aboutMe.title">About me</h3>
                <p class="info-text" data-i18n-html="info.aboutMe.text"></p>
                <p class="info-text" style="margin-top:8px;"><a href="#" id="favoriteVersesLink" data-i18n="info.aboutMe.favorites">Mine favorittvers</a></p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.bibleText.title">Bible text</h3>
                <p class="info-text" data-i18n-html="info.bibleText.text"></p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.crossRefs.title">Cross-references</h3>
                <p class="info-text" data-i18n-html="info.crossRefs.text"></p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.openSource.title">Open source</h3>
                <p class="info-text" data-i18n-html="info.openSource.text"></p>
                <p class="info-text" style="margin-top:8px;"><a href="https://bibel.tjelle.net/" target="_blank" rel="noopener" style="color:var(--text-muted)" data-i18n="info.openSource.competition">link to the competition</a>.</p>
            </div>
            <div class="help-section">
                <h3 data-i18n="info.feedback.title">Feedback</h3>
                <p class="info-text" data-i18n-html="info.feedback.text"></p>
            </div>
        </div>
    </div>
</div>

<!-- Stats modal -->
<div class="modal-overlay" id="statsModal">
    <div class="modal-panel" style="max-width:1100px;">
        <div class="modal-header">
            <span id="statsModalTitle" data-i18n="modal.stats">// Stats</span>
            <select id="statsModeSelect" class="stats-mode-select">
                <option value="total" data-i18n="stats.totalHits">Total hits</option>
                <option value="per_chapter" data-i18n="stats.perChapter">Per chapter</option>
                <option value="per_verse" data-i18n="stats.perVerse">Per verse</option>
            </select>
            <button class="modal-close" id="statsClose">&times;</button>
        </div>
        <div class="modal-body" id="statsBody"></div>
    </div>
</div>

<!-- Chart tooltip -->
<div class="chart-tooltip" id="chartTooltip"></div>

<!-- Settings modal -->
<div class="modal-overlay" id="settingsModal">
    <div class="modal-panel">
        <div class="modal-header">
            <span data-i18n="modal.settings">// Settings</span>
            <button class="modal-close" id="settingsClose">&times;</button>
        </div>
        <div class="modal-body">
            <div class="settings-section">
                <h3 data-i18n="settings.appearance">Appearance</h3>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.darkMode">Dark mode</span>
                    <button class="header-btn" id="darkToggle" data-i18n-title="header.darkMode">&#9790;</button>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.uiLang">UI language</span>
                    <div class="font-ui-ctrl" id="uiLangCtrl">
                        <button class="font-ui-btn" data-val="en">English</button>
                        <button class="font-ui-btn" data-val="no">Norsk</button>
                    </div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.uiFont">UI font</span>
                    <div class="font-ui-ctrl" id="fontUICtrl">
                        <button class="font-ui-btn" data-val="mono" data-i18n="settings.fontMono">Mono</button>
                        <button class="font-ui-btn" data-val="sans" data-i18n="settings.fontSans">Sans</button>
                        <button class="font-ui-btn" data-val="serif" data-i18n="settings.fontSerif">Serif</button>
                    </div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.accentColor">Accent color</span>
                    <div class="color-picker" id="colorPicker"></div>
                </div>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.verseFontSize">Verse font size</span>
                    <div class="font-size-ctrl">
                        <span>Aa</span>
                        <input type="range" id="fontSizeSlider" min="1" max="5" value="3" step="1">
                    </div>
                </div>
            </div>
            <div class="settings-section settings-section-last">
                <h3 data-i18n="settings.defaults">Default</h3>
                <div class="settings-row">
                    <span class="settings-label" data-i18n="settings.bibleVersion">Bible version</span>
                    <select id="defaultVersionSelect"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast" id="toast"></div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
